<div>
    <br />
    <p style="font-weight: 700; font-size: 15px;">Zahtev za dodavanje naucnog rada u magazin</p>
    <hr>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativateValidate>

        <div *ngFor="let field of formFields">

            <label for={{field.id}}> {{field.label}} </label>

            <select name={{field.id}} *ngIf="field.type.name=='enum'" ngModel class="form-control">
            <option *ngFor="let val of magazines" value={{val}}>
              {{field.type.values[val]}}
            </option>
          </select>
        </div>

        <br />
        <div>
            <button type="submit" style="float: right;" class="btn btn-primary btn-m2">Potvrdi</button>
        </div>
    </form>
</div>