<div class="container">
    <br />
    <p style="font-weight: 700; font-size: 15px;">Subscription payment</p>
    <hr>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value, f)" ngNativateValidate>

        <div *ngFor="let field of formFields">

            <label for={{field.id}}> {{field.label}} </label>

            <input type="text" name={{field.id}} *ngIf="field.type.name == 'string'" class="form-control" ngModel>
            <input type="text" name={{field.id}} *ngIf="field.type.name == 'long'" class="form-control" ngModel>
        </div>

        <br />
        <div>
            <button type="submit" style="float: right;" class="btn btn-primary btn-m2">Potvrdi</button>
        </div>
    </form>
</div>